platform:
  - x64

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'

install:
  - ps: Install-Product node 7 x64
  - npm install

build_script:
  - node_modules/.bin/electron-builder build
build: true
version: '{build}'
shallow_clone: true
clone_depth: 1
test_script:
  - npm run dist

environment:
  GH_TOKEN:
    secure: H2b1mq+K/miUzkxP1jtaiNwonVsUPMDxqtQknijwNFCmIFjz0DFF7ktgXZ8nzA81

deploy:
  release: SimpleDiveMeets-v$(appveyor_build_version)
  description: ''
  provider: GitHub
  auth_token:
    secure: H2b1mq+K/miUzkxP1jtaiNwonVsUPMDxqtQknijwNFCmIFjz0DFF7ktgXZ8nzA81 # your encrypted token from GitHub
  artifact: /release/*          # upload all NuGet packages to release assets
  draft: true
  prerelease: true
  on:
    branch: master                 # release from master branch only
